# Libraries
LIB/*
LIB_D/*

# NetCDF output files
NetCDF/*.nc

# Output matrices 
MATRICES/*.SparseMat

.DS_Store

# generated .chem files
CHEM/*.chem

# debugging output files
fort.*
list*
*.txt

REACTION_PATHS/*

OUTPUT/*
*.png
*.dat
*.exe*
